<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Default Paths-->
    <add key="defaultServerPath" value="\\alpha\usmt2"/>
    <add key="defaultFolderPath" value="Testing"/>  
    <!--USMT settings-->
    <add key="filesPath" value="\Filesx64"/>
    <add key="loadstatePath" value="\Filesx64\loadstate.exe "/>
    <add key="scanstatePath" value="\Filesx64\scanstate.exe "/>
    <add key="dataPath" value="\data\"/>
  </appSettings>
</configuration>